* {
  box-sizing: border-box;
}

body {
  background-color: #d5dbdd;
  font-family: 'PT Serif', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  padding: 0;
  margin: 0;
}

.datacard {
  margin: 15px auto 15px auto;
}

.datacard--body {
  border: 2px solid #363e47;
  border-top: none;
  background-color: #ebf1f3;
}

.datacard--header {
  background-color: #0c1722;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 12px 0;
}

.datacard-wrapper {
  padding: 18px;
}

thead {
  background-color: #abb5c0;
  color: #0a0b0b;
  text-transform: uppercase;
  font-weight: bold;
}

th {
  padding: 6px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #fcffff;
}
tbody tr:nth-child(even) {
  background-color: #dae0e5;
}

tbody td {
  padding: 6px;
}

.roster {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.roster--sidebar {
  background-color: #0c1722;
  color: white;
  padding: 30px 18px;
  overflow: auto;
  flex: 0 0 auto;
}

.roster--body {
  padding: 18px;
  overflow: scroll;
}

.roster--sidebar ul {
  font-weight: bold;
  font-size: 18px;
}

.sidebar--menu {
  padding: 0;
  list-style-type: none;
  width: 250px;
  margin-top: 18px;
}

.sidebar--menu-section {
  font-size: 14px;
  color: #a6adb5;
  padding-bottom: 10px;
  font-weight: bold;
  margin-top: 30px;
  border: none !important;
}

.sidebar--back-button {
  color: #a6adb5;
  margin: 20px 0;
  display: inline-block;
}

.sidebar--back-button .fas {
  /* color: white; */
  margin-right: 4px;
}

.sidebar--menu a {
  width: 100%;
  padding: 12px 0;
  display: inline-block;
}

.sidebar--menu li {
  border-bottom: 1px solid #3f4b58;
}

.sidebar--menu li:last-child {
  border: none;
}

.sidebar--title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 6px;
}

.sidebar--subtitle {
  font-size: 14px;
  color: #a6adb5;
}

.roster-upload {
  color: white;
  min-height: 100vh;
  background-color: #0c1722;
  padding: 50px;
  text-align: center;
}

.roster-upload h2 {
  margin-bottom: 60px;
}

.roster-upload--dropzone > div{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px #3f4b58 dashed;
  padding: 30px;
  height: 350px;
  font-weight: bold;
}

.logo {
  font-size: 24px;
}

.logo .fas {
  margin-right: 10px;
}