* {
  box-sizing: content-box;
}

body {
  background-color: #d5dbdd;
  font-family: 'PT Serif', serif;
  padding: 18px;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  padding: 0;
  margin: 0;
}

.datacard {
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.datacard--body {
  border: 2px solid #363e47;
  border-top: none;
  background-color: #ebf1f3;
}

.datacard--header {
  background-color: #0c1722;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 12px 0;
}

.datacard-wrapper {
  padding: 18px;
}

thead {
  background-color: #abb5c0;
  color: #0a0b0b;
  text-transform: uppercase;
  font-weight: bold;
}

th {
  padding: 6px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #fcffff;
}
tbody tr:nth-child(even) {
  background-color: #dae0e5;
}

tbody td {
  padding: 6px;
}