* {
  box-sizing: border-box;
}

body {
  background-color: #d5dbdd;
  font-family: 'PT Serif', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  padding: 0;
  margin: 0;
}

.datacard {
  margin: 15px auto 15px auto;
}

.datacard--body {
  border: 2px solid #363e47;
  border-top: none;
  background-color: #ebf1f3;
}

.datacard--header {
  background-color: #0c1722;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 12px 0;
}

.datacard-wrapper {
  padding: 18px;
}

thead {
  background-color: #abb5c0;
  color: #0a0b0b;
  text-transform: uppercase;
  font-weight: bold;
}

th {
  padding: 6px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #fcffff;
}
tbody tr:nth-child(even) {
  background-color: #dae0e5;
}

tbody td {
  padding: 6px;
}

.roster {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.roster--sidebar {
  background-color: #0c1722;
  color: white;
  padding: 30px 18px;
}

.roster--body {
  padding: 18px;
  overflow: scroll;
}

.roster--sidebar ul {
  font-weight: bold;
  font-size: 18px;
}

.sidebar--menu {
  padding: 0;
  list-style-type: none;
  width: 250px;
}

.sidebar--menu a {
  padding: 12px 0;
  display: inline-block;
}

.sidebar--menu li {
  border-bottom: 1px solid #3f4b58;
}

.sidebar--menu li:last-child {
  border: none;
}

.sidebar--title {
  font-size: 24px;
  font-weight: bold;
}